<form name="docForm" ng-submit="vm.create(docForm)" method="post">
    <div class="row justify-content-sm-center">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="form-control-label">Folio</label>
                <input type="text" class="form-control" id="folio" ng-model="vm.doc.folio" required>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="form-control-label">Nombre del comprador</label>
                <input type="text" class="form-control" id="comprador" ng-model="vm.doc.nombre_comprador" required>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="recipient-name" class="form-control-label"></label>
                <button type="button" class="form-control btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Detalle</button>
            </div>
        </div>
    </div>
    <!-- Lista de detalles -->
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="det in vm.dets track by $index">
                    {{det.documento_id}} 
                    | {{det.documento_detalle_id}} 
                    | {{det.unit}}
                    | {{det.price}}
                    | {{det.quant}} 
                    | {{det.subtotal}}
                    | {{det.desc}}
                    <span class="badge"><a href="" ng-click="vm.quit($index)">Quitar</a></span>
                    <span class="badge"><a href="" ng-click="vm.showEditDetail($index)">Modificar</a></span>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
                <button type="submit" class="form-control btn btn-primary">Agregar</button>
        </div>
    </div>
</form>
<br>

<!-- creacion de detalle -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="detForm" ng-submit="vm.push(detForm)" method="post">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Unidad de medida</label>
            <input type="text" class="form-control" id="recipient-name" ng-model="vm.det.unit" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Precio</label>
            <input type="number" class="form-control" id="recipient-name" ng-model="vm.det.price" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Cantidad</label>
            <input type="number" class="form-control" id="recipient-name" ng-model="vm.det.quant" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Descripcion:</label>
            <textarea class="form-control" id="message-text" ng-model="vm.det.desc" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.close()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="!detForm.$valid" ng-click="vm.push(detForm)">Guardar</button>
      </div>
    </div>
  </div>
</div>


<h1>LISTA DE DOCUMENTOS</h1>
<div class="card" ng-repeat="doc in vm.docs track by $index">
    <div class="card-header" role="tab" id="questionOne">
        <h5 class="card-title">
            <a data-toggle="collapse" data-parent="#faq" aria-expanded="true" aria-controls="answerOne">
                    Document ID: {{doc.documento_id}}
                    | Fecha: {{doc.fecha}} 
                    | Folio: {{doc.folio}}
                    | Comprador: {{doc.nombre_comprador}}
                    | Total: {{doc.total | number:2}}
            </a>
        </h5>
    </div>
    <div id="answerOne$index" class="collapse show" role="tabcard" aria-labelledby="questionOne">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="det in doc.details track by $index">
                    Document ID: {{det.documento_id}} 
                    | Document-detalle-id: {{det.documento_detalle_id}} 
                    | Unidad: {{det.unit}}
                    | Precio: {{det.price | number:2}}
                    | Cantidad: {{det.quant}} 
                    | Subtotal: {{det.subtotal}}
                    | Descripción: {{det.desc}}
                    <span class="badge"><a href="" ng-click="vm.quit($index)">Quitar</a></span>
                    <span class="badge"><a href="" ng-click="vm.showEditDetail($index)">Modificar</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- edicion de detalle -->
<button style="display:none" type="button" id="editDetail" class="btn btn-primary" data-toggle="modal" data-target="#modalEditDet" data-whatever="@mdo">Edicion Detalle</button>
<div class="modal fade" id="modalEditDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="editDetForm" ng-submit="vm.push(detForm)" method="post">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Unidad de medida</label>
            <input type="text" class="form-control" id="recipient-name" ng-model="vm.det.unit" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Precio</label>
            <input type="number" class="form-control" id="recipient-name" ng-model="vm.det.price" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Cantidad</label>
            <input type="number" class="form-control" id="recipient-name" ng-model="vm.det.quant" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Descripcion:</label>
            <textarea class="form-control" id="message-text" ng-model="vm.det.desc" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.close()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="!editDetForm.$valid" ng-click="vm.updt(editDetForm)">Guardar</button>
      </div>
    </div>
  </div>
</div>