<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prueba Técnica</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="myApp">
    <div ui-view></div>
    <a href="" ui-sref="login">Ir a login</a>

    <footer>
        <p>Desarrollado por: Junior Campos | Información de contacto: <a href="mailto:jcampos@ea-asc.com">jcampos@ea-asc.com</a>.</p>
    </footer>

    <!-- Deben ser cargados antes de angularjs-->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../../bower_components/satellizer/dist/satellizer.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controllers/user.js"></script>
  </body>
</html>
