<form ng-submit="login.login()" method="post">
    <div class="row justify-content-sm-center">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="form-control-label">Usuario</label>
                <input type="text" ng-model="login.username" class="form-control" id="username" required>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="form-control-label">Contraseña</label>
                <input type="password" ng-model="login.password" class="form-control" id="password" required>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="recipient-name" class="form-control-label"></label>
                <button type="submit" class="form-control btn btn-primary">Entrar</button>
            </div>
        </div>
    </div>
</form>